@model Model.DoctorChember

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DoctorChember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChemberName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChemberName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChembeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChembeAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChembeCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChembeCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChembeCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChembeCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChembeMobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChembeMobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChembeEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChembeEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotDeletable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotDeletable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor.DoctorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.DoctorName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
