@model Model.DoctorChember

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DoctorChember</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChemberName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChemberName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChembeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChembeAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChembeCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChembeCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChembeCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChembeCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChembeMobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChembeMobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChembeEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChembeEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotDeletable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotDeletable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor.DoctorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.DoctorName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
